@model IEnumerable< HumanResource.Models.HRMS.NavigationMenu>

<div class="sidebar sidebar-dark  sidebar-main  sidebar-expand-md bg-primary print-hide" >
	<!-- Sidebar mobile toggler -->
	<div class="sidebar-mobile-toggler text-center bg-primary">
		<a href="#" class="sidebar-mobile-main-toggle">
			<i class="fas fa-times"></i>
		</a>
		APP
		<a href="#" class="sidebar-mobile-expand">
			<i class="icon-screen-full"></i>
			<i class="icon-screen-normal"></i>
		</a>
	</div>
	<!-- /sidebar mobile toggler -->
	<!-- Sidebar content -->
	<div class="sidebar-content" >
		
		
		<!-- Main navigation -->
		<div class="card card-sidebar-mobile">
			<ul class="nav nav-sidebar" data-nav-type="accordion">
				
				
				 <li class="nav-item">
					<a href="/dashboard.php" class="nav-link  ">
						<i class="icon-home4"></i>
						<span>
							Dashboard
						
						</span>
					</a>
				</li> 

           
				<li class="nav-item" asp-controller="Store" asp-action="UserRequestList">
					<a href="UserRequestList" class="nav-link  ">
						<i class="icon-home4"></i>
						<span>
							Store request
						
						</span>
					</a>
				</li> 

                <li class="nav-item" asp-controller="Store" asp-action="UserRequestList">
					<a href="UserReqRetrieval" class="nav-link  ">
						<i class="icon-home4"></i>
						<span>
							Item retrieve
						
						</span>
					</a>
				</li> 

                <li class="nav-item" asp-controller="Store" asp-action="UserRequestList">
					<a href="ManagerApprList" class="nav-link  ">
						<i class="icon-home4"></i>
						<span>
							Request approval
						</span>
					</a>
				</li> 

                 <li class="nav-item" asp-controller="Store" asp-action="UserRequestList">
					<a href="/StoreSetting/CategoryList" class="nav-link  ">
						<i class="icon-home4"></i>
						<span>
							Settings
						
						</span>
					</a>
				</li> 


				
				
				<!-- /layout -->
				
			</ul>
		</div>
		<!-- /main navigation -->
		<div class="card ">
			<div class="card-body px-0">
				<div class="sidebar-user">
					<div class="card-body  ">
						<div class="media">
							<div class="mr-3">
								
							</div>
							<div class="media-body">
								<div class="media-title font-weight-semibold"></div>
								<div class="font-size-xs opacity-50">
									&nbsp;</div>
							</div>
							<div class="ml-3 align-self-center">
								<a href="/profile/" class="text-white"><i class="icon-cog3"></i></a>
							</div>
						</div>
						<div class="card card-sidebar-mobile">
							<ul class="nav nav-sidebar" data-nav-type="accordion">
								<li class="nav-item nav-item-submenu  ">
									<a href="#" class="nav-link " >
									
									</a>
									<ul class="nav nav-group-sub " data-submenu-title="">
										<li class="nav-item">
											<a href="" class="nav-link  "> English</a>
										</li>
										
										
									</ul>
								</li>
								<li class="nav-item">
									<a href="<?= $app_url ?>/logout.php" class="nav-link  ">
										<i class="fas fa-sign-out"></i>
										<span>
											Logout
											
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- /sidebar content -->
</div>