<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HumanResource</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HumanResource.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Load Material Icons from Google Fonts-->
    <link href="~/css/material&icons.css" rel="stylesheet" />
    <!-- Load Simple DataTables Stylesheet-->
    <link href="~/css/datatables.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
</head>
<body>
        <!-- Layout wrapper-->
        <div id="layoutAuthentication">
            <!-- Layout content-->
            <div id="layoutAuthentication_content">
                <!-- Main page content-->
                <main>
                    <!-- Main dashboard content-->
                <div class="container-xl">

                    @RenderBody()

                    </div>
                </main>
            </div>
        </div>
    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    <!--  Load Chart.js via CDN-->
    <script src="~/img/chart.js crossorigin="anonymous" />



    <script src="~/js/charts/chart-defaults.js"></script>
    <!--  Load chart demos for this page-->
    <script src="~/js/charts/demos/chart-pie-demo.js"></script>
    <script src="~/js/charts/demos/dashboard-chart-bar-grouped-demo.js"></script>

    <!-- Load Simple DataTables Scripts-->
    <script src="~/js/datatables/datatables-simple-demo.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    


    <script src="~/js/jquery-ui.js" ntegrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

   
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
