<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HumanResource</title>


<link href="~/assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	
	<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
	<link href="~/assets/css/icons/fontawesome/all.css" rel="stylesheet" type="text/css">


        <link href="~/assets/css/style.css" rel="stylesheet" >


        
	<script src="~/assets/js/jquery.min.js"></script>

	
	<script src="~/assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/plugins/loaders/blockui.min.js"></script>
	<script src="~/assets/js/vue.min.js"></script>
    <script src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="~/assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
	<script src="~/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
	<script src="~/assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js"></script>
	<script src="~/assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
	<script src="~/assets/js/plugins/notifications/sweet_alert.min.js"></script>
    <script src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    
    <script src="~/assets/js/main/app.js"></script>

<style>

	.print-show{
		display: none ;
	}


	:root {
  --primary: #783d45;
}
	.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

* :not(i,span,h4,h3,h2,h5,h1){
	font-size: 0.96rem !important
}
</style>
<style>

.ui-autocomplete-loading {
		    background:url("<?= $root ?>/assets/images/loading.gif") no-repeat right center ;
		  }

 [v-cloak] { display: none; }

 input[type='number']{
 	direction: ltr;
 	text-align: center;
 }

 .select2-results__option[aria-selected=true] {
    color: #fff;
    background-color: #26a69a;
}
</style>



<script type="text/javascript">
    (function($) {
	  $.fn.button = function(action) {
	    if (action === 'loading') {
	    	var loadingText="<i class='fas fa-spinner fa-spin'></i> <?= tr('processing') ?>";
	      this.data('original-text', this.html()).html(loadingText).prop('disabled', true);
	    }
	    if (action === 'reset' && this.data('original-text')) {
	      this.html(this.data('original-text')).prop('disabled', false);
	    }
	  };
	}(jQuery));
</script>




	<style>
		.btn-primary, .bg-primary{
			background: var(--primary) !important;
		}
		.btn-secondary, .bg-secondary{
			background: #C69383 !important;
		}
		.text-primary{
			color: var(--primary) !important;
		}
		.btn-primary:hover {
		    color: #fff;
		    background-color: var(--primary);
		}

		
		.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
			background: var(--primary) !important;
		}


	.card,.modal-content{
			border-radius: 25px ;

		}

		.card-header:first-child,.modal-header {
			border-top-right-radius: 25px !important;
			border-top-left-radius: 25px !important;
		}

		.card-footer{
			border-bottom-right-radius: 25px !important;
			border-bottom-left-radius: 25px !important;
		}

.card.card-hover{
	cursor: pointer;
  
		}
		.card.card-hover:hover{
		
  transform: translateY(-4px);

		}
img.fit {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

	.btn.btn-sm{

	    font-size: .9rem !important;
	    padding:0.2125rem 0.75rem ;
	    /*font-weight: bold;*/
	}

	.btn.btn-action.btn-info{
		border-<?= trl("right","left") ?>: 2.5px solid ;
	}

	body{
		background: #F7EFE4;
	}
	.card {
		background: #FFFAF4;
	}
	.btn-light,.bg-light{
			background: #F7EFE4;
	}
	.form-control{
		background: #FFF8F5;
		border-color: #D5B4AA;
	}
	.form-control:focus{
		background: #F3CABC;
		border-color: var(--primary) !important;
	}
	</style>
<link href='~/assets/css/ElMessiri.css' rel='stylesheet'>
<style>
* {
    font-family: 'ElMessiri';;
}
* :not(i,span,h4,h3,h2,h5,h1) {
    font-size: 1.05rem !important;
}
</style>

</head>
  <body class="">

  <!-- /header with logos -->
<div class="navbar navbar-expand-md navbar-dark bg-primary" >

  <!-- Header with logos -->
  <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center bg-primary" >
APP
  </div>
  <!-- /header with logos -->


  <!-- Mobile controls -->
  <div class="d-flex flex-1 d-md-none">
    <div class="navbar-brand mr-auto">
      <a href="#" class="d-inline-block text-light">
        <strong>APP</strong>
      </a>
    </div>	

   <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
      <i class="fas fa-angle-down"></i>
    </button> -->


     <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
      <i class="icon-paragraph-justify3"></i>
    </button> 

  </div>
  <!-- /mobile controls -->

  <!-- Navbar content -->
  <div class="collapse navbar-collapse d-md-flex justify-content-between"  id="navbar-mobile">

    <ul class="navbar-nav">
    </ul>
      <ul class="navbar-nav">

      <li class="nav-item">
          <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block ">
            <i class="icon-paragraph-justify3"></i>
          </a>
        </li>
 
        


      </ul>
  <ul class="navbar-nav">

  
  <li class="nav-item">
    <a href="#" class="navbar-nav-link">Home</a>
  </li>

        <li class="nav-item nav-item dropdown ">
          <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            Link1
          </a>

          <div class="dropdown-menu dropdown-menu-right ">
            <a href="#" class="dropdown-item"> Link</a>
            <a href="#" class="dropdown-item"> Link</a>

          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="navbar-nav-link">Link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="navbar-nav-link">Link</a>
        </li>

     

        <li class="nav-item">
          <a href="#" class="navbar-nav-link">Logout</a>
        </li>
 

      <li class="nav-item nav-item dropdown ">
          <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            Arabic
          </a>

          <div class="dropdown-menu dropdown-menu-right ">
            <a href="#" class="dropdown-item"> Arabic</a>
            <a href="#" class="dropdown-item"> English</a>

          </div>
        </li>
    </ul>
  </div>

  <!-- Navbar content -->
  <div class="collapse navbar-collapse d-md-flex "  id="navbar-mobile">


  
  </div>


  <!-- /navbar content -->
  
</div>



  <!-- /navbar content -->
  
	<div class="content-wrapper">

    <!-- Page header -->

<div class="page-content">

    @*@Html.RenderPartialAsync("NavigationMenu", "Account")*@

    @await Component.InvokeAsync("NavMenu")
    <div class="content pt-0">


        
<div class="page-header print-hide">

    <div class="page-header-content header-elements-inline">
  <div class="page-title d-flex ">
            <h4> Ttile</h4>
  </div>
    </div>
    </div>
<div class="row">
    <div class="col">@RenderBody()</div>
</div>
    </div>
</div>
</div>

    <!-- Modal --> @*tabindex="-5" aria-labelledby="exampleModalLabel" aria-hidden="true"*@
    <div class="modal fade" id="form-modal"  role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>

            </div>
        </div>
    </div>


    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
 <script src="~/js/site.js"></script>

</body>
</html>
